// Color Variables

$primary-color: #020016;
$secondary-color: #F05E51;
$tertiary-color: #EBAA50;
$background-color:#FEFDF9;
$white-color: white;
$black-color: black;
$grey-color: #CAC7CE;
$font-primary-color: #63616C;
$font-secondary-color: #BFC0D2;


